* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f5f5f5; 
  line-height: 1.6;
}

header {
  background-image: url('https://images.contentstack.io/v3/assets/blt00454ccee8f8fe6b/blt6e1661a50f2abf0b/60ab379977e996669f49e985/US_Japan_Japan_Header.jpg?width=960&quality=70&auto=webp'); 
  background-color:#ff6347; 
  background-blend-mode: overlay; 
  padding: 20px; 
  text-align: center;
}

h1 {
  color: white; 
}

header h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  font-weight: 700;
  letter-spacing: 2px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 1rem;
}

nav ul li a {
  color: #ffffff; 
  text-decoration: none;
  transition: color 0.3s ease;
  font-size: 1.2rem;
  font-weight: 500;
}

nav ul li a:hover {
  color: #ffd700; 
}

main {
  padding: 2rem;
  text-align: center;
}

footer {
  background-color: #333;
  color: #ffffff; 
  padding: 0.3rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}

body::after {
  content: "";
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 28.5px; 
  background-image: url('https://images.contentstack.io/v3/assets/blt00454ccee8f8fe6b/blt6e1661a50f2abf0b/60ab379977e996669f49e985/US_Japan_Japan_Header.jpg?width=960&quality=70&auto=webp'); 
  background-color:#ff6347; 
  background-blend-mode: overlay; 
  padding: 20px;
}


main {
  padding: 2rem;
  padding-right: 70px;
  line-height: 1.6;
}

.dish {
  cursor: pointer;
  transition: transform 0.3s ease;
}
.dish:hover {
  transform: scale(1.05);
}
.fun-section {
  margin-bottom: 20px;
}
.fun-section h2 {
  color: #ff7f50;
  text-decoration: underline;
}
.fun-section p {
  font-style: italic;
}
.fun-section iframe {
  margin-top: 15px;
}